.home-container {
    font-family: 'Arial, sans-serif';
    font-size: 30px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.user-icon {
    margin: 2px;
    width: 45px;
    height: auto;
}

.minecraft-icon {
    width: 18%;
    height: auto;
    margin-right: 10px;
}

.minecraft-icon2 {
    width: 250px;
    height: 50px;
    margin-top: 50px;
    margin-right: 3px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.logo-image {
    width: calc(60%);
}

.login-button {
    background-color: transparent;
    color: #6CBB3C;
    font-size: 18px;
}

.login-button:hover {
    border-radius: 20px;
    color: black;
}

.signup-button {
    background-color: #6CBB3C;
    color: white;
    border-radius: 20px;
    align-items: right;
    font-size: 18px;
}

.signup-button:hover {
    background-color: #5aa32c;
}

.home-main {
    padding: 40px 20px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3%;
    margin-bottom: 10%;
}

.intro-text {
    max-width: 50%;
    text-align: left;
}

.intro-text h2 {
    font-size: 2em;
    color: #333;
}


.intro-text p {
    margin: 10px 0;
    color: #555;
}

.start-button {
    padding: 20px 40px;
    background-color: #6CBB3C;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    width: calc(70%);
    margin-top: 5%;
}

.start-button:hover {
    background-color: #5aa32c;
}

.intro-image {
    max-width: 40%;
    text-align: right;
}

.intro-image img {
    width: 100%;
    height: auto;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
    margin-bottom: 40px;
    max-width: 100%;

}

.info-content {
    display: flex;
    align-items: center;
}

.info-image {
    margin-right: 50px;
    scale: 150%;
}

.mindmap-image {
    width: 150px;
    height: auto;
}

.info-text {
    margin-left: 20%;
    max-width: 50%;
}

.advantages-section {
    margin-top: 10%;
    margin-bottom: 40px;
    text-align: center;
}

.advantages-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage-item {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.advantage-item img {
    width: 50px;
    height: auto;
}

.home-footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}