.container {
    display: flex;

    font-size: 24px;
}

.tips-container {
    width: 70%;
    display: flex;
    align-items: flex-start;
}


.tips-image {
    width: 100%;
    height: auto;
}


.brand {
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
}

.title {
    margin-right: auto;
    margin-top: 10%;
    font-size: 36px;
}

.form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.normalbutton {
    background-color: rgb(29, 191, 75);
    border-radius: 20px;
    cursor: pointer;
    height: 60px;
    font-size: 24px;
    color: white;
    width: flex;
    margin-bottom: 20px;
}

.normalbutton:hover {
    background-color: rgb(6, 102, 33);
}

.form-container form {

    width: 100%;
    font-size: 36px;
}

.Inputform {
    width: 100%;
    margin-bottom: 15px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(237, 236, 236);
    outline-color: none;
    font-size: 24px;
}




.logo {
    width: 100px;
}

.logo-container {
    width: 100%;
    display: flex;
    position: relative;
    object-fit: cover;
    margin-top: 50%;
}


.go-signup {
    cursor: pointer;
    width: 400px;
    align-items: center;

}

.go-signup:hover {
    color: rgb(29, 191, 75);
}

@media (max-width: 768px) {
    .tip-image {
        display: none;
    }

}